/* PHASE 2: Notifications */

.badge {
  display: inline;
  font-size: 14px;
  padding: 1px 6px;
  background: #000;
}

li:hover .badge {
  background: #f00;
}

.header {
  position: relative;
  z-index: 1;
}

.header-list > li {
  position: relative;
}

.header-notifications {
  display: none;
  position: absolute;
  background: #fff;
}

li:hover .header-notifications {
  display: block;
}

.header-notifications > li {
  color: #000;
}

.header-notifications > li:hover {
  background: #eee;
}